<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>image1.jpeg</string>
		<key>imageTitle</key>
		<string>Image Title #1</string>
		<key>imageDescription</key>
		<string>This is the description for image #1.</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image2.jpeg</string>
		<key>imageTitle</key>
		<string>Image Title #2</string>
		<key>imageDescription</key>
		<string>This is the description for image #2.</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>image3.jpeg</string>
		<key>imageTitle</key>
		<string>Image Title #3</string>
		<key>imageDescription</key>
		<string>This is the description for image #3.</string>
	</dict>
</array>
</plist>
